{% extends 'main.html' %}
{% load static %}
{% block content %}

{% block styles %}
  <link href="{% static 'css/style.css' %}" rel="stylesheet" /> 
{% endblock styles %}

{% include 'navbar.html' %}
<body>
  <main id="main">
    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">We Make Finding Accomondation So Easy</h1>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'index' %}">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  About
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= About Section ======= -->
    <section class="section-about">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 position-relative">
            <div class="about-img-box">
              <img src="{% static 'assets/img/slide-about-1.jpg' %}" alt="" class="img-fluid">
            </div>
            <div class="sinse-box">
              <h3 class="sinse-title">FutMX Lodge
                <span></span>
                <br> Sinse 2023
              </h3>
              <p>Real Estate</p>
            </div>
          </div>
          <div class="col-md-12 section-t8 position-relative">
            <div class="row">
              <div class="col-md-6 col-lg-5">
                <img src="{% static 'assets/img/about-2.jpg' %}" alt="" class="img-fluid">
              </div>
              <div class="col-lg-2  d-none d-lg-block position-relative">
                <div class="title-vertical d-flex justify-content-start">
                  <span>FutMX Lodge</span>
                </div>
              </div>
              <div class="col-md-6 col-lg-5 section-md-t3">
                <div class="title-box-d">
                  <h3 class="title-d">Explore Your Ideal
                    <span class="color-d">Accommodation</span> Options
                    <br>for a Comfortable University Experience.
                  </h3>
                </div>
                <p class="color-text-a">

                  Welcome to FutMX Lodge, your ultimate resource for simplifying the accommodation search process for college students. Navigating the world of housing options can be a daunting task, but we're here to make it easy, efficient, and stress-free.

                  At FutMX Lodge, we understand the unique challenges that college students face when seeking accommodation. Whether you're a first-year student embarking on the exciting journey of university life or a seasoned upperclassman looking for the perfect off-campus housing, we've got you covered.
                  
                  Our platform is designed with the specific needs of college students in mind. We offer a comprehensive database of housing options, ranging from on-campus dormitories to off-campus apartments and shared housing. You can easily filter and customize your search based on your preferences, budget, and proximity to your campus.
                  
                  What sets us apart is our commitment to providing reliable information and valuable resources to empower you in making informed decisions. We offer detailed property listings, including photos, amenities, and rental details, to give you a clear picture of what each accommodation option entails.
                  
                  Navigating the transition to college life is challenging enough, and finding the right place to call home shouldn't add to the stress. FutMX Lodge streamlines the process, saving you time and energy so you can focus on your studies and enjoying your college experience.
                  
                  Our user-friendly interface ensures a seamless experience, allowing you to explore housing options effortlessly. We also provide helpful tips, guides, and articles on various aspects of student accommodation, offering insights into the rental process, roommate dynamics, and creating a comfortable living space.
                  
                  Whether you're moving across the country for college or staying close to home, FutMX Lodge is your go-to resource for finding the ideal accommodation that suits your lifestyle and preferences. Let us help you make the most of your college years by taking the hassle out of the accommodation search process.
                  
                  Start your journey with FutMX Lodge today and embark on the exciting adventure of finding the perfect place to call home during your college years!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main><!-- End #main -->

</body>

{% block script %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock script %}
  
{% endblock content %}