{% extends 'main.html' %}
{% load static %}
{% block content %}
    <body>
        <!--navbar-->
        {% include 'navbar.html' %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{cover_image.image.url}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Clean Blog</h1>
                            <span class="subheading">A Blog Theme by Start Bootstrap</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    {% for post in page_obj %}
                    <div class="post-preview">
                        <a href="{% url 'post' post.id %}">
                            <h2 class="post-title">{{post.title}}</h2>
                            <h3 class="post-subtitle">{{post.description}}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="{% url 'about' post.author %}">{{post.author}}</a>
                            on September 24, 2023
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}
            
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4">
                        {% if page_obj.has_previous %}
                        <a class="btn btn-primary btn-sm text-uppercase" href="?page=1"><span>&laquo; First</span></a>&nbsp;
                        <a class="btn btn-primary btn-sm text-uppercase" href="?page={{page_obj.previous_page_number}}"><span>&laquo; Previous</span></a>&nbsp;
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                        {% if num == page_obj.number %}
                        <a class="btn btn-info btn-sm text-uppercase" href="?page={{num}}"><span>{{num}}</span></a>&nbsp;
                        {% elif page_obj.number > num|add:"-4" and page_obj.number < num|add:"+4" %}
                        <a class="btn btn-primary btn-sm text-uppercase" href="?page={{num}}"><span>{{num}}</span></a>&nbsp;
                        {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <a class="btn btn-primary btn-sm text-uppercase" href="?page={{page_obj.next_page_number}}"><span>Next &raquo;</span></a>&nbsp;
                        <a class="btn btn-primary btn-sm text-uppercase" href="?page={{page_obj.paginator.num_pages}}"><span>Last &raquo;</span></a>
                        {% endif %}

                    </div>
                    <!-- <a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a> -->
                </div>
            </div>
        </div>
        {% include 'footer.html' %}

    </body>

    {% endblock %}
